secretkey
hero-bg.jpg 
profile.jpg
project1.jpg
project2.jpg
path-to-image\communication.png
path-to-image\cprogramming.png
path-to-image\pcbdesign.png
path-to-image\python.png
path-to-image\teamwork.png